* {
    box-sizing: border-box;
}

html{
    margin: 0;
}

body {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0;
    background-color: #EEEEEE;
}

.topnav {
    background-color: #EEEEEE;
    display: flow-root;
}

.branding {
    float: left;
}

.brandingtext {
    font-family: "Istok Web", sans-serif;
    font-size: 14px;
}

.usernav {
    float: right;
    padding-top: 6px;
    padding-right: 10px;
}

.userbutton {
    background-color: #C5C5C5;
    color: #000000;
    border: none;
    border-radius: 8px;
    font-family: "Istok Web", sans-serif;
    padding: 8px;
    font-size: 70%;
}

.usericon {
    width: 18px;
    vertical-align: middle;
}

.uipad {
    padding-right: 4px;
}

.userbutton:hover {
    background-color: #A5A5A5;
}


.nav {
    background-color: #4F5D75;
    margin-left: -1%;
    margin-right: -1%;
    padding: 4px;
    list-style: none;
    display: flow-root;
    height: 5%;
}

.nav li {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}

.navlink {
    color: #FFFFFF;
    text-decoration: none;
    transition: 1s;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.1vw;
}

.navlink:hover {
    color: #AAAAAA;
    text-decoration: underline 2px;
    transition: 1s;
}

.navlinks {
    float: right;
    width: 92%;
    padding-top: 1.5%;
}

.logo {
    width: 5.5%;
    padding-left: 1%;
    vertical-align: middle;
}

.landingimage {
    margin-left: -1%;
    margin-right: -1%;
    position: relative;
    text-align: center;
}

.landingimage .centertext {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Istok Web", sans-serif;
    font-size: 200%;
}

.landingimage .gtext {
    background: -webkit-linear-gradient(left, #2c1b9a, #FF4D00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landingimage img {
    width: 100%;
}

.informational {
    font-family: "Instrument Sans", sans-serif; 
}

.informational .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
}

.informational .column img {
    width: 50%;
    /* padding-left: 25%; */
}

.informational .row:after {
    content: "";
    display: table;
    clear: both;
}

.informational p {
    color: #888888;
}

.seperator{
    padding-top: 8%;
}

.bookingcard{
    position: absolute;
    z-index: 9;
    background-color: #888888;
    padding-top: 15%;
    padding-bottom: 2.5%;
    padding-left: 20%;
    padding-right: 20%;
    margin-left: 29%;
    transform: translateY(-110%);
    border-radius: 2vw;
}