* {
    box-sizing: border-box;
}

html{
    margin: 0;
}

body {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0;
    background-color: #EEEEEE;
}

.topnav {
    background-color: #EEEEEE;
    display: flow-root;
}

.branding {
    float: left;
}

.brandingtext {
    font-family: "Istok Web", sans-serif;
    font-size: 14px;
}

.usernav {
    float: right;
    padding-top: 6px;
    padding-right: 10px;
}

.userbutton {
    background-color: #C5C5C5;
    color: #000000;
    border: none;
    border-radius: 8px;
    font-family: "Istok Web", sans-serif;
    padding: 8px;
    font-size: 70%;
}

.usericon {
    width: 18px;
    vertical-align: middle;
}

.uipad {
    padding-right: 4px;
}

.userbutton:hover {
    background-color: #A5A5A5;
}


.nav {
    background-color: #4F5D75;
    margin-left: -1%;
    margin-right: -1%;
    padding: 4px;
    list-style: none;
    display: flow-root;
    height: 5%;
}

.nav li {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}

.navlink {
    color: #FFFFFF;
    transition: 1s;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.1vw;
}

.navlink:hover {
    color: #AAAAAA;
    text-decoration: underline 2px;
    transition: 1s;
}

.navlinks {
    float: right;
    width: 92%;
    padding-top: 1.5%;
}

.logo {
    width: 5.5%;
    padding-left: 1%;
    vertical-align: middle;
}

.landingimage {
    margin-left: -1%;
    margin-right: -1%;
    position: relative;
    text-align: center;
}

.landingimage .centertext {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Istok Web", sans-serif;
    font-size: 200%;
}

.landingimage .gtext {
    background: -webkit-linear-gradient(left, #2c1b9a, #FF4D00);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 1px 0px white);
}

.landingimage img {
    width: 100%;
}

.informational {
    font-family: "Instrument Sans", sans-serif;
}

.informational .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
}

.informational .column img {
    width: 50%;
    /* padding-left: 25%; */
}

.informational .row:after {
    content: "";
    display: table;
    clear: both;
}

.informational p {
    color: #888888;
}

.seperator{
    padding-top: 2%;
}

.bookingcard{
    z-index: 9;
    background-color: #BFC0C0;
    padding-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 50%;
    margin: auto;
    margin-bottom: -15%;
    transform: translateY(-85%);
    border-radius: 2vw;
}

.bookingcard .bookinglinks {
    padding-top: 2.5%;
    font-family: "Instrument Sans", sans-serif;
    font-size: 18px;
}

.bookingcard .bookinglinks a {
    padding-right: 2.5%;
    text-decoration: underline 2px;
    color: #FF4D00;
    transition: 1s;
}

.bookingcard .bookinglinks a:hover{
    color:#be3900;
    transition: 1s;
    text-decoration: underline 2px;
}

.bookingcard .fieldtitle {
    color: #222222;
    font-style: italic;
    font-weight: 900;
    font-family: "Instrument Sans", sans-serif;
}

.inputfields {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 2%;
}

.inputfields input,
.inputfields select {
    padding: 12px;
    width: 10vw;
    border-radius: 6px;
    font-family: "Instrument Sans", sans-serif;
    cursor: pointer;
}

.inputfields option {
    cursor: pointer;
}

.bookingcard input[type="submit"] {
    background-color: #FF4D00;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    width: 12%;
    margin-left: 43%;
    transform: translateY(120%);
    transition: 1s;
    cursor: pointer;
}

.bookingcard input[type="submit"]:hover {
    background-color: #be3900;
    transition: 1s;
}

.login {
    background-image: url('../media/large/pexels-miguel-martinez-1241576-2433283.webp');
    background-size: 100%;
}

.logincard {
    /* background-color: rgba(150, 150, 150, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); */
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    border-radius: 2vw;
    text-align: center;
    background: rgba(136, 136, 136, 0.49);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(136, 136, 136, 1);
}

.logincard .logo {
    width: 13%;
}

.logincard .greeting {
    font-family: "Istok Web", sans-serif;
    padding-bottom: 5%;
}

.logincard .greeting h2,
.logincard .greeting p {
    padding: 0;
    margin: 0;
}

.logincard .greeting h2 {
    color: #222222;
}

.logincard .greeting p {
    color: #444444;
}

.logincard form {
    font-family: "Instrument Sans", sans-serif;
}

.logincard form input[type="text"],
.logincard form input[type="password"] {
    padding-top: 5px;
    padding-bottom: 5px;
}

.logincard input[type="submit"] {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #FF4D00;
    cursor: pointer;
    transition: 1s;
}

.logincard input[type="submit"]:hover {
    background-color: #be3900;
    transition: 1s;
}